@import '{}/imports/ui/stylesheets/utils.less';

@menu-width: 20vw;
@column: 5.55555%;

body {
  .position(absolute, 0, 0, 0, 0);
  background-color: @color-ancillary;
}

#container {
  .position(absolute, 0, 0, 0, 0);
}

#menu {
  text-align: center;
  .position(absolute, 0, 0, 0, 0, @menu-width);
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  h1,
  h3 {
    color: white !important;
    padding-top: 20px;
    padding-bottom: 10px;
    a {
      color: white !important;
    }
  }
}

#content-container {
  .position(relative, auto, auto, auto, @menu-width);
  background: @color-tertiary;
  max-width: 80vw;
  height: 100vh;
  opacity: 1;
}

div.main-content {
  background: @color-tertiary;
  max-height: 100vh;
  min-height: 100vh;
  overflow-y: auto;
  padding: 2em;
}
div.main-content.no-pad {
  padding: 0em;
}

.alert ul {
  list-style-type: square;
  padding-top: 0.8em;
  padding-left: 2em;
  li {
    padding-top: 0.2em;
  }
}

.alert.sized6 {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.alert.sized8 {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.alert.sized10 {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}
