@import '{}/imports/ui/stylesheets/utils.less';

@menu-width: 20vw;
@column: 5.55555%;

body {
  .position(absolute, 0, 0, 0, 0);
  background-color: #315481;
}

#container {
  .position(absolute, 0, 0, 0, 0);
}

#menu {
  text-align: center;
  .position(absolute, 0, 0, 0, 0, @menu-width);
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  h1,
  h3 {
    color: white !important;
    padding-top: 20px;
    padding-bottom: 10px;
    a {
      color: white !important;
    }
  }
}

#content-container {
  .position(relative, auto, auto, auto, @menu-width);
  background: @color-tertiary;
  transition: all 200ms ease-out;
  max-width: 80vw;
  height: 100vh;
  opacity: 1;
}

div.main-content {
  max-height: 100vh;
  overflow-y: auto;
  padding: 2em;
}
