// Core
@color-primary: blue; //caribbean teal (buttons)
/*@color-primary: #2cc5d2; //caribbean teal (buttons)*/
@color-secondary: #5db9ff; //cerulean blue (menu new list)
/*@color-tertiary: #d2edf4; //muted teal (join/signin bg)*/
@color-tertiary: #f2f2f2; //muted teal (join/signin bg)
@color-fourth: aliceblue; // yes.

/*@color-ancillary: #315481; //deep navy (nav heading, menu icon)*/
@color-ancillary: #222222; // dark grey

@color-complementary: #778b91; //muted navy (add item placeholder)
@color-danger: #778b91; //muted navy (add item placeholder)

// Alert
@color-negative: #ff4400; //error, alert
@color-note: #f6fccf;

// Greyscale
@color-empty: white;
@color-raw: #f8f8f8;
@color-raw: #f2f2f2;
@color-rare: #eee;
@color-medium-rare: #ccc;
@color-medium: #aaa;
@color-medium-well: #666;
@color-well: #555;
@color-full: #333;

// Breakpoints
@screen-sm: 600px;
@screen-md: 800px;
@screen-lg: 1000px;
