// Core
@color-primary: #3a64e0;
@color-secondary: aliceblue;
@color-complementary: #778b91;

// Alert
@color-note: #f6fccf;
@color-danger: #778b91;
@color-negative: #ff4400;

// Grayscale
@color-empty: white;
@color-raw: #f8f8f8;
@color-rare: #eee;
@color-medium-rare: #ccc;
@color-medium: #aaa;
@color-medium-well: #666;
@color-well: #555;
@color-full: #111;

// Breakpoints
@screen-sm: 600px;
@screen-md: 800px;
@screen-lg: 1000px;
@screen-bs-break: 768px; // bootstrap
