{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        }
    },
    "plugins": ["react", "meteor"],
    "env": { "es6": true, "browser": true, "node": true, "mocha": true },
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "rules": {
        "react/display-name": "off",
        "react/prop-types": "off",
        "react/no-unescaped-entities": "off",
        "react/no-direct-mutation-state": "off",
        "react/no-find-dom-node": "off",
        "no-console": "off",
        "no-unreachable": "off",
        "strict": ["error", "global"]
    },
    "settings": {
        "react": {
            "pragma": "React",
            "version": "15.6.1"
        }
    }
}
