@import './utils.less';

[class^='btn-'],
[class*=' btn-'] {
  // Sizing
  .font-s2;
  line-height: 20px !important; //override line-height always so we can use em's to size
  padding: 1em 1.25em; // 48px tall

  &:focus {
    outline: 0;
  }

  // Style
  .title-caps;
  transition: all 100ms ease-in;
  color: @color-empty !important;
  display: inline-block;
  position: relative;
  text-align: center;
  border-radius: 0px;
  text-decoration: none !important; //prevents global <a> styles from applying
  vertical-align: middle;
  white-space: nowrap;

  &[class*='primary'] {
    background-color: @color-primary;
    color: @color-empty;
    border: none;

    &:hover {
      background-color: darken(@color-primary, 5%);
    }

    &:active {
      box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px 0 inset;
    }
  }

  &[class*='secondary'] {
    transition: all 300ms ease-in;
    box-shadow: lighten(#517096, 5%) 0 0 0 1px inset;
    color: @color-empty;

    &:hover {
      color: @color-rare;
    }
    &.active {
      box-shadow: lighten(#517096, 25%) 0 0 0 1px inset;
    }
  }

  &[class*='danger'] {
    background-color: @color-danger;
    color: @color-empty;
    border: none;

    &:hover {
      background-color: darken(@color-danger, 5%);
    }
    &:active {
      box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px 0 inset;
    }
  }

  &[class*='group'] {
    padding: 0em;
  }

  &[class*='menu'] {
    background-color: @color-danger;
    color: @color-empty;
    padding: 0.3em;
    &:hover {
      background-color: @color-primary;
    }
  }

  &[class*='empty'] {
    background-color: @color-empty;
    color: @color-danger !important;
    padding: 0.3em;
    &:hover {
      background-color: darken(@color-empty, 5%);
    }
  }

  &[disabled] {
    opacity: 0.5;
  }
}

.btns-empty {
  padding: 0px !important;
  border: 1px solid @color-rare;
  border-radius: 4px;
  .btn:not(:last-child) {
    border-right: 2px solid @color-rare;
  }
}

.btns-group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  [class*='btn-'] {
    .ellipsized;
    flex: 1;

    & + [class*='btn-'] {
      margin-left: -1px;
    }
  }
}
