@import "./utils.less";

[class^="btn-"],
[class*=" btn-"] {
    // Sizing
    .font-s2;
    font-weight: 500;
    line-height: 20px !important; //override line-height always so we can use em's to size
    padding: 1em 1.25em; // 48px tall

    &:focus {
        outline: 0;
    }

    // Style
    .title-caps;
    border: none;
    display: inline-block;
    position: relative;
    text-align: center;
    border-radius: 4px;
    text-decoration: none !important; //prevents global <a> styles from applying
    vertical-align: middle;
    white-space: nowrap;

    &[class*="menu"] {
        padding: 0.2em 0.4em;
        letter-spacing: initial;
        text-transform: none;
        text-indent: initial;
        color: @color-well;
        background-color: @color-rare;
        &:hover {
            background-color: @color-note;
            color: @color-full;
        }

    }

    &[class*="primary"] {
        background-color: @color-primary;
        color: @color-empty;
        &:hover {
            color: @color-empty;
            background-color: #00f;
        }
    }
    
    &[class*="secondary"] {
        color: @color-medium !important;
        &:hover {
            color: @color-empty !important;
        }
    }
    
    &[class*="empty"] {
        background-color: @color-empty;
        color: @color-complementary !important;
        &:hover {
            background-color: darken(@color-empty, 5%);
        }
    }
    
    &[class*="danger"] {
        border: none;
        &:hover {
            color: @color-empty !important;
            background-color: @color-negative !important;
        }
    }

    &[class*="group"] {
        padding: 0em;
    }
    &[class*="round"] {
        border-radius: 2em;
        padding: 1em;
    }
    &[class*="list-item"] {
        padding: 5px 10px;
    }



    &[disabled] {
        opacity: 0.5;
    }
}



.btns-empty {
    padding: 0px !important;
    border: 1px solid @color-rare;
    border-radius: 4px;
    .btn:not(:last-child) {
        border-right: 1px solid @color-rare;
    }
}

.btns-menu-space * {
    margin-right: 1em;
}

.btn-m-group {
    .btn-menu {
        &:focus {
            outline: 0;
        }
        &:first-child {
            border-radius: 6px 0px 0px 6px;
        }
        &:last-child {
            border-radius: 0px 6px 6px 0px;
        }
        &:only-child {
            border-radius: 6px;
        }
    }
}
.btn-m-straight .btn.btn-menu {
    border: 2px solid @color-raw;
    border-radius: 0px !important;
    text-transform: uppercase;
    color: @color-well !important;
    background-color: @color-raw;
    &:hover {
        background-color: @color-note;
    }
    &[class*="active"] {
        border-bottom-color: @color-well;
        box-shadow: none;
        font-weight: bold;

    }

}

.btns-group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    [class*="btn-"] {
        .ellipsized;
        flex: 1;
        & + [class*="btn-"] {
            margin-left: -1px;
        }
    }
}
