.fade-view {
    opacity: 1;
}

.fade-hide {
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    opacity: 0;
}

.hidden {
    display: none;
}
