@import './utils.less';

a {
  transition: all 200ms ease-in;
  color: @color-secondary;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: darken(@color-primary, 10%);
    text-decoration: none;
  }
  &:active {
    color: @color-secondary;
    text-decoration: none;
  }
  &:focus {
    color: @color-secondary;
    text-decoration: none;
    outline: none;
  } //removes FF dotted outline
}
