@import './utils.less';

a,
a:focus,
a:visited {
  color: @color-primary;
  cursor: pointer;
  text-decoration: none;
  &:active {
    color: @color-primary;
    text-decoration: none;
  }
  &:focus {
    color: @color-primary;
    text-decoration: none;
    outline: none;
  } //removes FF dotted outline
  &:hover {
    color: darken(@color-primary, 15%);
    text-decoration: none;
  }

  // for back arrows
  .black {
    color: black !important;
  }
  .gray {
    color: gray;
  }
  .white {
    color: white !important;
  }
}

a.link-alert,
a.link-alert:focus,
a.link-alert:visited {
  color: @color-danger;
  &:hover {
    color: @color-primary;
    font-weight: bold;
  }
}

h1 > a {
  color: @color-danger;
}
