@import "{}/imports/ui/stylesheets/utils.less";

#sound {
    width: 100%;
}

.link-alert .pull-right.btn-menu {
    margin-top: -0.3em;
}

canvas,
#record {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 7em;
    height: 7em;
}

canvas {
    border-radius: 0px 4px 0px 0px;
    background: @color-full;
    width: 80%;
}

#record {
    background: @color-full;
    border-radius: 4px 0px 0px 0px;
    width: 20%;

    &:hover img {
        filter: brightness(100%);
    }

    &:hover i {
        background-color: red;
        border-color: @color-note;
        color: @color-note;
    }

    i,
    img {
        filter: brightness(80%);
        vertical-align: middle;
        text-align: center;
        padding: 1em;
    }

    i {
        font-size: 1.2em;
        color: @color-empty;
        border-radius: 500px;
        border: 1px solid white;
        line-height: 1em;
    }
}

#record.recording {
    background-color: red;
}

.facilitateView {
    .alert:first-child {
        margin-top: 0px !important;
    }

    .filterer.alert {
        border-top: 0px;
    }
}

.white-background {
    background-color: white;
}
