@import "{}/imports/ui/stylesheets/utils.less";

#sound {
  width: 100%;
}

canvas,
#record {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 10em;
  height: 10em;
}

canvas {
  border-radius: 0px 4px 0px 0px;
  background: #202020;
  width: 70%;
}

#record {
  border-radius: 4px 0px 0px 0px;
  border: #202020 dotted 1px;

  width: 30%;
  filter: brightness(80%);
  &:hover {
    filter: brightness(100%);
  }

  img {
    padding: 1em;
    vertical-align: middle;
    text-align: center;
  }
}

#record.recording {
  background: red;
  border: none;
}

.facilitate-filter .btn {
  border-radius: 0px !important;
}
