@import '{}/imports/ui/stylesheets/utils.less';

#sound {
  width: 100%;
}

.link-alert .pull-right.btn-menu {
  margin-top: -0.3em;
}

canvas,
#record {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 10em;
  height: 10em;
}

canvas {
  border-radius: 0px 4px 0px 0px;
  background: @color-full;
  width: 70%;
}

#record {
  background: @color-full;
  border-radius: 4px 0px 0px 0px;
  width: 30%;

  &:hover img {
    filter: brightness(100%);
  }

  &:hover i {
    color: @color-note;
  }

  i,
  img {
    filter: brightness(80%);
    vertical-align: middle;
    text-align: center;
    padding: 1em;
  }

  i {
    .font-l3();
    color: @color-empty;
  }
}

#record.recording {
}

.facilitateView {
  .alert:first-child {
    margin-top: 0px !important;
  }

  .filterer.alert {
    border-top: 0px;
  }
}
