@import '{}/imports/ui/stylesheets/utils.less';

.time-marker {
  .really-no-select();
  padding: 0.2rem;
  .font-s1;
}
.time-marker:hover {
  background: @color-note;
}

#grid-holder {
  max-height: 40vh !important;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0px;
}

#grid {
  background: darken(@color-empty, 2%);
  padding: 4px 0px;
  position: fixed;
  width: 100%;
}

.reviewPage {
  .btn-m-straight {
    border-radius: 4px;
  }
  .btn-menu:not(.active) {
    background-color: @color-rare;
    color: @color-well !important;
    &:hover {
      background-color: @color-medium;
      color: @color-raw !important;
    }
  }
}
