@import '{}/imports/ui/stylesheets/utils.less';

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

// Notification message (e.g., when unable to connect)
.notifications {
  transform: translate3d(-50%, 0, 0);
  z-index: 1;

  @media screen and (min-width: 40em) {
    transform: translate3d(0, 0, 0);
    bottom: auto;
    right: 1rem;
    top: 1rem;
    left: auto;
  }

  .notification {
    .font-s1;
    background: @color-note;
    padding: 0.5rem 0.75rem 0.5rem 0;
    position: relative;
    width: 100%;

    [class^='icon-'] {
      .position(absolute, 30%, auto, auto, 1rem);
      color: @color-danger;
      font-size: 1.5em;
    }

    .icon-sync {
      animation: spin 2s infinite linear;
    }

    .meta {
      overflow: hidden;
      padding-left: 3em;

      .title-notification {
        .title-caps;
        display: block;
      }

      .description {
        display: block;
        padding-left: 0.4rem;
      }
    }
  }
}
