@import '{}/imports/ui/stylesheets/utils.less';

#comments-list {
  margin-top: 15px;
  padding: 0px;
  border: 0px;
}

#comment-image {
  border: 1px solid @color-medium-rare;
  border-radius: 0px;
  * {
    border-radius: 0px;
    border: none;
  }
  max-width: 60vw;
  position: fixed;
  bottom: 15px;
  left: 15px;
  z-index: 5;
}

.comment-config {
  color: @color-danger;
  .comment-option:hover {
    text-decoration: underline;
  }
  &:hover {
    .comment-option {
      color: @color-ancillary;
    }
  }
}

/*&:before { content: 'config - '; }*/

.comment-addressed-box {
  border-right: 1px dotted @color-raw;
  border-radius: 4px;
  padding: 0.5em;
  margin-right: 0.5em;
  float: left;
  &:hover,
  &:focus {
    background-color: @color-note !important;
  }
}

.textarea-icon {
  position: absolute;
  padding: 1em;
  right: 0;
}

div.comment {
  .no-break-out();
  transition: opacity 100ms ease;
  padding: 20px 15px 0px 15px;
  opacity: 1;

  * {
    .select-text();
  }

  &:last-child {
    padding-bottom: 20px;
  }

  hr {
    margin-bottom: 0px;
  }

  &:hover {
    background-color: lighten(@color-raw, 4%);
    .btns-empty {
      visibility: visible;
      .no-transition();
    }
    .meta {
      opacity: 0.7;
    }
    .author {
      box-shadow: inset 0 -2px 0 0 @color-medium;
    }
    .hashtag {
      background-color: @color-raw;
    }
    .comment-addressed-box {
      background-color: @color-raw;
    }
    kbd {
      .no-select();
      background-color: lighten(@color-danger, 10%);
    }
  }

  .meta {
    padding-left: 1.5em;
    opacity: 0.3;
  }

  .author {
    padding: 0 4px;
    &:hover {
      box-shadow: inset 0 -2px 0 0 @color-well;
      background-color: @color-rare;
    }
  }

  .internal.reply {
    i {
      display: none;
    }
    &:hover i {
      display: initial;
    }
  }

  .hashtag {
    border: none;
    &:hover {
      font-weight: bold;
    }
  }

  .btns-empty {
    visibility: hidden;
    .no-transition();
    * {
      .no-transition();
    }
  }

  .hover-menu {
    &:hover {
      position: sticky;
    }

    z-index: 2;
    display: block;
    margin-top: -2.15em;
    position: relative;
    text-align: right;
    .btn {
      margin-left: 0px !important;
      min-width: 35px;
      &:hover {
        color: black !important;
      }
    }
    .btn-user:hover {
      color: @color-ancillary !important;
    }
  }

  p {
    padding-left: 4px;
  }
}

.btn-listening {
  animation: pulse 2s infinite ease-in-out;
  background-color: red !important;
}

div.comment.editing {
  background-color: @color-rare;
  button {
    border-radius: 0;
    background-color: @color-rare;
  }
  button:hover {
    background-color: darken(@color-rare, 4%);
  }
  textarea {
    background-color: darken(@color-rare, 4%);
    margin-bottom: 1em;
    padding: 1em;
  }
}

.last-comment {
  padding-bottom: 1em !important;
}

.active-comment {
  background-color: @color-rare;
}

.reply-comment-1:hover,
.reply-comment-2:hover,
.reply-comment-3:hover,
.reply-comment-4:hover,
.reply-comment-5:hover {
  /*transition: border-width 0.1s ease;*/
  /*border-left-width: 1em;*/
}
.reply-comment-1 {
  border-left: 0.5em solid @color-medium-rare;
}
.reply-comment-2 {
  border-left: 0.5em solid darken(@color-medium-rare, 15%);
}
.reply-comment-3 {
  border-left: 0.5em solid darken(@color-medium-rare, 25%);
}
.reply-comment-4 {
  border-left: 0.5em solid darken(@color-medium-rare, 30%);
}
.reply-comment-5 {
  border-left: 0.5em solid darken(@color-medium-rare, 35%);
}

.markdown-comment {
  padding: 0em;
  * {
    font-size: 14px;
    line-height: 1.6;
  }
  ul,
  ol {
    padding-left: 1em;
  }
  ul {
    list-style: square inside;
  }
  ol {
    list-style: decimal inside;
  }
  a {
    border-bottom: 1px solid @color-rare;
    color: @color-well;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
}
