@import '{}/imports/ui/stylesheets/utils.less';

#comments-list {
  padding: 0px;
  border: 0px;
}

#comment-image {
  border: 1px solid @color-medium-rare;
  border-radius: 0px;
  * {
    border-radius: 0px;
    border: none;
  }
  max-width: 60vw;
  position: fixed;
  bottom: 15px;
  left: 15px;
  z-index: 5;
}

div.comment {
  transition: opacity 100ms ease;
  padding: 20px 15px 0px 15px;
  opacity: 1;

  &:last-child {
    padding-bottom: 20px;
  }

  hr {
    margin-bottom: 0px;
  }

  &:hover {
    background-color: lighten(@color-raw, 4%);
    .btns-empty {
      visibility: visible;
      .no-transition();
    }
    .meta {
      opacity: 0.8;
    }
  }

  .meta {
    padding-left: 1.5em;
    opacity: 0.3;
  }

  .author {
    padding: 0 4px;
    border-radius: 4px;
    &:hover {
      background-color: @color-medium-rare;
    }
  }

  .btns-empty {
    visibility: hidden;
    .no-transition();
    * {
      .no-transition();
    }
  }

  .hover-menu {
    &:hover {
      position: sticky;
    }

    z-index: 2;
    display: block;
    margin-top: -2.15em;
    position: relative;
    text-align: right;
    .btn {
      margin-left: 0px !important;
      min-width: 35px;
      &:hover {
        color: black !important;
      }
    }
    .btn-user:hover {
      color: dark-green !important;
    }
  }

  p {
    padding-left: 4px;
  }
}

div.comment.editing {
  background-color: @color-rare;
  button {
    border-radius: 0;
    background-color: @color-rare;
  }
  button:hover {
    background-color: darken(@color-rare, 4%);
  }
  textarea {
    background-color: darken(@color-rare, 4%);
    margin-bottom: 1em;
    padding: 1em;
  }
}

.active-comment {
  background-color: @color-rare;
}

.markdown-comment {
  padding: 0em;
  * {
    font-size: 14px;
    line-height: 1.6;
  }
  ul,
  ol {
    padding-left: 1em;
  }
  ul {
    list-style: square inside;
  }
  ol {
    list-style: decimal inside;
  }
  a {
    border-bottom: 1px solid @color-rare;
    color: @color-well;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
}
