@import '{}/imports/ui/stylesheets/utils.less';

div.file-item {
  position: absolute;
  margin-bottom: 2em;
  margin-right: 2em;
  max-width: 100%;
  width: 270px;

  img.slide {
    max-width: 100%;
    display: block;
  }

  button {
    color: @color-danger !important;
    padding: 0.4em;
    &:hover {
      background: darken(@color-empty, 3%);
    }
  }
}
