@import '{}/imports/ui/stylesheets/utils.less';

@keyframes pulse {
  0% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.89;
  }
}

div.file-item {
  position: absolute;
  margin-bottom: 2em;
  margin-right: 2em;
  min-height: 50px;

  max-width: 320px;
  @media only screen and (min-width: 992px) {
    width: calc(21%);
  }
  @media only screen and (max-width: 992px) {
    margin-bottom: 1em;
    margin-right: 1em;
    width: calc(29%);
  }

  img.slide {
    .no-drag();
    .no-select();
    display: block;
  }

  button {
    color: @color-danger !important;
    padding: 0.4em;
    &:hover {
      background: darken(@color-empty, 3%);
    }
  }

  .slide-container {
    display: relative;
  }

  .overlay {
    .font-s3;
    z-index: 2;
    position: absolute;
    background: rgba(0, 0, 0, 1);
    padding: 0.4em 0.7em;
    color: white;
    opacity: 0;
    right: 0;
    top: 0;
  }

  &:hover .overlay {
    opacity: 1;
  }
}

div.file-item.file-item-review {
  margin-bottom: 4px;
  margin-right: 0px;
  margin-left: 4px;
  text-align: center;

  @media only screen and (min-width: 1524px) {
    width: calc(19%);
  }
  @media only screen and (min-width: 1200px) and (max-width: 1524px) {
    width: calc(24%);
  }
  @media only screen and (min-width: 692px) and (max-width: 1200px) {
    width: calc(31.5%);
  }
  @media only screen and (max-width: 692px) {
    width: calc(29%);
  }

  /*disable to allow for hover event trigger on parent item*/
  * {
    pointer-events: none;
  }

  .live {
    position: absolute;
    height: 100%;
    width: 2em;
    left: 0;
    z-index: 5;
    background: red;
    opacity: 0.9;
    animation: pulse 2s infinite ease-in-out;
    transition: width 0.5s;
  }

  &:hover .live {
    width: 3em;
  }

  outline: 1px solid @color-medium-rare;
  &:hover img {
    opacity: 0.4;
  }
}

.ds-selector {
  border: 4px dashed @color-well !important;
  background: transparent !important;
}

@media (min-width: 576px) {
  .full-height-md {
    height: 100%;
  }
}

div.reviewView {
  margin: 0px;

  .overlay {
    background: rgba(0, 0, 0, 0.7);
  }

  .slide-tags {
    max-width: 25%;
  }

  .table {
    display: table;
    width: 100%;
    margin-top: -10px;
    padding: 0px; /*set left/right padding according to needs*/
    box-sizing: border-box;
    height: 100%;
    .row {
      display: table-row;
      height: 100%;
    }
  }

  [class*='col-'] {
    padding: 0px 15px;
  }

  .ds-selected {
    outline: 2px double @color-primary;
    img {
      opacity: 0.7;
    }
    .overlay {
      opacity: 1;
    }
  }

  .clear-icon:hover {
    color: darken(@color-primary, 10%);
  }

  .clear-icon:hover:before {
    content: '× ';
  }

  kbd {
    background-color: @color-danger;
    &:hover {
      background: black;
    }
  }
  kbd.active {
    background-color: @color-note;
    color: @color-full;
    &:hover {
      background: black;
      color: @color-rare;
    }
  }

  .context-filter {
    max-height: 100vh;
    overflow-y: auto;
  }

  .full-height {
    height: 100%;
  }

  .float-at-top {
    position: sticky;
    z-index: 5;
    top: 0px;
  }

  .big-slide {
    border-bottom: 1px solid @color-rare;
    border-radius: 4px 4px 0px 0px;
  }

  #review-view {
    max-width: 2000px;
    margin: 0px auto;
  }

  #grid-holder {
    margin: 0px;
  }

  #grid {
    background: darken(@color-empty, 2%);
    padding: 4px 0px;
    max-height: 40vh;
    width: 100%;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .submitter {
    padding: 0px;
    p {
      padding: 10px 15px;
    }
    hr {
      margin: 0px;
    }
    textarea {
      background: darken(@color-empty, 2%);
      padding: 15px 15px 0px 15px;
      &:hover {
        background: darken(@color-empty, 4%);
      }
      &:focus {
        background: darken(@color-empty, 6%);
      }
    }
  }
}
