@import '{}/imports/ui/stylesheets/utils.less';

// Empty states and 404 messages
.wrapper-message {
  @media only screen and (min-width: 992px) {
    .position(absolute, 45%, 0, auto, 0);
    transform: translate3d(0, -50%, 0);
  }

  @media only screen and (max-width: 992px) {
    .position(relative, 0, auto);
    display: block !important;
  }

  text-align: center;

  .title-message {
    .font-m2;
    .type-light;
    color: @color-ancillary;
    margin-bottom: 0.5em;
  }

  .subtitle-message {
    .font-s2;
    color: @color-medium;
  }

  .no-select();
}
