@import '{}/imports/ui/stylesheets/utils.less';

.waveform {
  margin: 20px 0px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow-x: hidden;

  .wave {
    border-bottom: @color-rare 1px solid;
    position: relative;
  }
  .wave canvas {
    background: #333;
    width: 100%;
  }
  .wavesurfer-region {
    z-index: 3 !important;
  }
  .controls,
  .controls * {
    width: 100%;
  }

  cursor {
    border-right: 1px solid white !important;
  }
}
