@import '{}/imports/ui/stylesheets/utils.less';

.waveform {
  margin-bottom: 20px;
  border-radius: 0px 0 4px 4px;
  * {
    border-radius: 0px 0 4px 4px;
  }

  box-sizing: border-box;
  overflow-x: hidden;

  .wave {
    /*border-bottom: @color-rare 1px solid;*/
    position: relative;
  }
  .wave canvas {
    background: #333;
    width: 100%;
  }
  .wavesurfer-region {
    z-index: 3 !important;
  }

  button {
    position: absolute;
    z-index: 5;
  }

  code {
    background-color: 'rgba(100, 100, 100, 0.8)';
    font-family: monospace;
    position: absolute;
    padding: 4px;
    z-index: 10;
    right: 0px;
  }

  .controls,
  .controls * {
    width: 100%;
  }

  cursor {
    border-right: 1px solid white !important;
  }
}
